#minuaturaNoticia{
    height: 225px;
}
#centralizarTextoLogo{
    margin-top: 1%;
}

#centralizarToolsLogo{
    margin-top: 1%;
}

#centralizarBotaoLogo{
    margin-top: 7px;
}

.previewNoticia{
    height: 15%;
    width: 100%;
}

.apresentacaoNoticia{
    height: 50%;
    width: 77%;
}

.correcaoDataNoticia{
    margin-right: 3%;
}

.espacoEntreDivs{
    margin: 1%;
}

.corrigeLateral{
    margin-left: 1%;
}

.big-checkbox {width: 25px; height: 25px;}

#logo {
    width: 120px;
    height: 40px;
    padding-bottom: 8%;
}

.login-container{
    margin-top: 13%;

}
#background-image{
    margin: 0;
    padding: 0;
    background-image: url(../img/homeLogin.jpg);
    background-size: cover;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px #000;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: green;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

